.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.slides img {
    width: 100%;
    display: none;
}

img.displaySilde {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    padding: 10px 15px;
    transform: translateY(-50%);
    font-size: 2.5rem;
    background-color: rgba(240, 248, 255, 0.299);
    color: black;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1;}
}